<?xml version="1.0"?>
<model>
  <name>davinci_psm </name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Junius Santoso</name>
   <email>jsantoso@wpi.edu</email>
  </author>

  <description>
    Davinci Patient Side Manipulator (PSM) SDF model, based on URDF file obrained from JHU davinci repository.
    https://github.com/jhu-dvrk/dvrk-ros
  </description>
</model>
